@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

$font-family: 'Fredericka the Great', cursive;
$font-family2: 'Akaya Telivigala', cursive;

h1 {
  font-family: $font-family;
}
