@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

$font-family: 'Fredericka the Great', cursive;
$font-family2: 'Akaya Telivigala', cursive;

.form {
  font: normal normal 400 1.5rem/1.5rem $font-family;
  background-color: #ffd700;
  width: 40%;
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 30%;
  margin: 2rem;

  h2 {
    font: normal normal 400 2.5rem/2.5rem $font-family;
    text-align: center;
    padding: 0;
  }

  .form_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .input_name {
    margin: 1rem;
  }

  .button {
    display: none;
  }
}

.d-none {
  display: none;
}
